/csv
/logs
/exp
/test
/graphmap2
/true
/reference
/default
/data
loman
/autoencoder
/checkpoints
/kraken
/kraken2
vae
finalexperiment
/metrics
autoencoder
auto
clear.sh
/metrics
parsed-out
meta_tags.csv
